.cover__subtitle {
    margin: 32px 0 0;
    color: #fff;
    font-size: 18px;
    line-height: 1.23;
    font-weight: 400;
    width: 100%;
    max-width: 360px;
}

@media screen and (max-width: 540px) {
    .cover__subtitle {
        margin: 16px 0 0;
        font-size: 14px;
        line-height: 1.14;
        max-width: 265px;
    }
}