.place__text {
    margin: 26px 0 0;
    color: #fff;
    font-size: 18px;
    line-height: 1.63;
    font-weight: 400;
}

.place__text:first-child {
    margin: 0;
}

@media screen and (max-width: 900px) {
    .place__text {
        font-size: 16px;
    }
}